<form [formGroup]="form" class="form-signin">
    
    <div class="row show-hide-message">
        <div [ngClass]="messageClass">
            {{ message }}
        </div>
    </div>

    <p-fieldset [legend]="(lang | async).register">
        <app-input-form
          formControlName="familyName" 
        ></app-input-form>

        <app-input-form
          [type]="'email'"
          formControlName="email" 
        ></app-input-form>

        <app-input-form
          [min]=6
          [type]="'password'"
          [registerMode]="true"
          formControlName="password" 
        ></app-input-form>

        <app-input-form
          [min]=6
          [type]="'password'"
          formControlName="confirmPassword" 
        ></app-input-form>

        <app-button 
          [label]="(lang | async).register"
          [label]="'Sign up'"
          [icon]="'pi pi-user-plus'"
          [disabled]="processing | async" 
          [working]="processing | async" 
          (onClick)="onRegisterSubmit()"
        ></app-button>
    </p-fieldset>

    

  </form>
  
  