<div class="ui-g">
  <div class="ui-g-6">
      <a href="/" class="logo-container">
          <img src="assets/layout/images/logo-olympia.png" alt="olympia-layout" />
      </a>
  </div>
  <div class="ui-g-6 footer-icons">
      <a href="#">
          <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
          <i class="fa fa-facebook"></i>
      </a>
      <a href="#">
          <i class="fa fa-instagram"></i>
      </a>
  </div>
</div>