<div *ngIf="setChore | async" class="ui-g ui-g-fluid">
    <form [formGroup]="componentMainForm" class="ui-g-12 ui-g-nopad">
      <app-input-form
        [label]="label.name"
        formControlName="choreName" 
      ></app-input-form>

      <div class="ui-g-6 ui-g-nopad mb-1 mt-1" style="padding-right: 5x;">
        <app-input-form
          [label]="'Open'"
          mask="99:99"
          registerMode="true"
          formControlName="choreOpen" 
        ></app-input-form>  
      </div>
      <div class="ui-g-6 ui-g-nopad mb-1 mt-1" style="padding-left: 5px;">
        <app-input-form
          [label]="'close'"
          mask="99:99"
          registerMode="true"
          formControlName="choreClose" 
        ></app-input-form> 
      </div>
      <div class="ui-g-12 ui-g-nopad ui-inputgroup input_div" *ngFor="let rule of componentMainForm.get('chores')['controls']; let i=index"
          [formGroup]="rule">
              <input type="text" pInputText formControlName="rule">   
              <button pButton 
                type="button" icon="pi pi-minus" class="ui-button-danger"
                [disabled]="componentMainForm.get('chores').controls.length < 2 || processing ? 'disabled' : null "
                (click)="componentMainForm.get('chores').removeAt(i)"
              ></button>  
      </div>
    </form>

    <ng-container>
        <div class="ui-g-8">
            <app-button 
              [label]="label.add"
              icon="pi pi-plus"
              [disabled]="processing" 
              (onClick)="addEmptyItem()"
            ></app-button>
          </div>
        
        <div class="ui-g-4">
          <app-button 
            [label]="label.save"
            icon="pi pi-save"
            [disabled]="!componentMainForm.valid || processing" 
            [working]="processing" 
            (onClick)="chore ? updateChore() : addNewChore()"
          ></app-button>
        </div>
    </ng-container>    
</div>


<div *ngIf="!(setChore | async) || chore" class="ui-g ui-g-fluid">
  <div class="ui-g-12" *ngIf="!chore">
      <h2 class="mb-1"  style="margin-top: 0px"> {{ label['addChildToChore'] }} </h2>
      <p style="font-weight: 200"> {{ label['addChildToChoreAlt'] }} </p>
  </div>

  <hr  *ngIf="chore">
  <div *ngFor="let kid of data['kids']" class="ui-g-12 flex space-between">
    <p>{{kid['name']}}</p>
    <p-inputSwitch [ngModel]="kid['dailyChores'].includes(choreId || chore['id'])" (onChange)="connectedKidToChore(kid['username'], $event.checked)"></p-inputSwitch> 
  </div>

  <div class="ui-g-8"></div>
  <div class="ui-g-4">
      <app-button 
        [label]="label.save"
        icon="pi pi-save"
        [disabled]="processing" 
        [working]="processing" 
        (onClick)="addKidToChore()"
      ></app-button>
    </div>
  
</div>

