<form [formGroup]="addKidForm" class="ui-g">

  <div class="ui-g-12 ui-md-6">
    <app-input-form
      [label]="label['username']"
      [hint]="'noel123'"
      formControlName="username" 
    ></app-input-form>
    <p class="text-danger" *ngIf="userNameError">{{label.childAddedErr}}</p>
  </div>

  <div class="ui-g-12 ui-md-6">
    <app-input-form
      [label]="label['password']"
      [hint]="'openSesami'"
      formControlName="pass" 
    ></app-input-form>
  </div>

  <div class="ui-g-8"></div>
  <div class="ui-g-4">
    <app-button 
      [label]="label['save']"
      icon="pi pi-save"
      [working]="processing"
      [disabled]="!addKidForm.valid || processing" 
      (onClick)="addHouseRules()"
    ></app-button>
  </div>
  
</form>