<div class="ui-g retward-type-container">
  <div class="flex space-between">
    <app-input-form
      [label]="label['money']"
      keyFilter="pint"
      registerMode="true"
      [ngModel]="parentObj['rewardAmount'] || 0" 
      (ngModelChange)="onChangeMoneyAmount($event)"
    ></app-input-form>  

    <app-input-form
      [label]="label['gameTime']"
      keyFilter="pint"
      registerMode="true"
      [ngModel]="parentObj['rewardMinute'] || 0" 
      (ngModelChange)="onChangeMinute($event)"
    ></app-input-form> 
  </div>
  </div> 
  
  