<mat-card class="mb-3">
  <mat-card-header>
    <div mat-card-avatar><i class="material-icons orange600">message</i></div>
    <mat-card-title
      ><h1
        class="h3 font-weight-normal"
        [innerHtml]="(lang | async).msgBoard"
      ></h1
    ></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p-fieldset [legend]="(lang | async).fastFwd">
      <div class="flex space-between">
        <app-button
          *ngIf="useStudy"
          [label]="(lang | async).goToStudy"
          icon="fa fa-school"
          (onClick)="routeToStudy()"
        ></app-button>
      </div>
    </p-fieldset>

    <p-fieldset legend="Use Points" *ngIf="showWeeklyPayout | async">
      <div class="flex space-between  pt3 pb3">
        <app-button
          [label]="(lang | async).save"
          icon="fa fa-archive"
          [disabled]="processing | async"
          [working]="processing | async"
          (onClick)="changeMode('Reward Bonus', 'save')"
        ></app-button>
        <app-button
          [label]="(lang | async).use"
          icon="fa fa-coins"
          [disabled]="processing | async"
          [working]="processing | async"
          (onClick)="changeMode('Use Points', 'use')"
        ></app-button>
      </div>
      <form [formGroup]="form" class="mt-3">
        <app-slider-form
          [valueType]="'Points'"
          formControlName="amount"
        ></app-slider-form>
        <app-input-form
          [type]="'password'"
          [min]="6"
          formControlName="password"
        ></app-input-form>
        <button
          class="mt-3 btn-block"
          mat-stroked-button
          (click)="mutateToServer()"
        >
          Send
        </button>
      </form>
    </p-fieldset>

    <p-fieldset *ngIf="useExtraChores" [legend]="(lang | async).exChores">
      <div *ngIf="showInput()" style="margin-bottom: 10px">
        <span class="icon-text" style="margin-right: 5px">
          <i class="fa fa-coins fa-lg" style="margin-right: 5px"></i>
          {{ point }}</span
        >
        <span class="icon-text" style="margin-right: 5px"
          ><i class="fa fa-gamepad fa-lg" style="margin-right: 5px"></i>
          {{ gameTime }}</span
        >
      </div>
      <div class="flex space-between mt-1" *ngFor="let chore of extraChores">
        <p>{{ chore["todo"] | titlecase }}</p>
        <p-checkbox
          [(ngModel)]="chore['done']"
          binary="true"
          (ngModelChange)="displayReward($event, chore)"
        ></p-checkbox>
      </div>
      <div class="ui-g" *ngIf="showInput()">
        <app-input-form
          class="ui-g-12"
          [min]="6"
          [label]="(lang | async).password"
          [type]="'password'"
          [(ngModel)]="password"
        ></app-input-form>
        <app-button
          class="ui-g-12"
          [label]="(lang | async).save"
          icon="pi pi-save"
          [disabled]="password.length < 4 || (processing | async)"
          [working]="processing | async"
          (onClick)="triggerSetReward()"
        ></app-button>
      </div>
    </p-fieldset>

    <p-fieldset legend="Todo as Family">
      <mat-selection-list #familyTodoList>
        <mat-list-option *ngFor="let todo of familyTime">
          <div class="spaced-between">
            <p>{{ todo["todo"] }}</p>
            <p>
              Time: <span class="spacer">{{ todo["time"] }}</span>
            </p>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </p-fieldset>
  </mat-card-content>
</mat-card>
