p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.mat-selection-list {
    padding-top: 0px;
}

.spaced-between {
    p { 
        display: inline-block;
        .spacer{
            margin-left: 5px;
        }
    }
    p:last-child{
        margin-right: 7em;
        float: right;
    }
}