
<form *ngIf="form" [formGroup]="form" class="container form-signin">

    <app-input-form
      [label]="(lang | async).username"
      formControlName="username" 
    ></app-input-form>

    <app-input-form
      [min]=6
      [label]="(lang | async).password"
      [type]="'password'"
      formControlName="password" 
    ></app-input-form>

    <app-button 
      [label]="(lang | async).login"
      [icon]="'pi pi-sign-in'"
      [disabled]="processing | async" 
      [working]="processing | async" 
      (onClick)="loginUser()"
    ></app-button>
  
  </form>
  
  