<form [formGroup]="form" class="container form-signin">
  <div class="ui-g">
    <div class="ui-g-12">
        <app-input-form
        [min]=6
        [type]="'password'"
        [label]="(lang | async).password"
        formControlName="password" 
      ></app-input-form>
    </div>
    <div class="ui-g-12">
        <app-input-form
        [min]=6
        [type]="'password'"
        [label]="(lang | async).newPassword"
        formControlName="newPassword" 
      ></app-input-form>
    </div>
    <div class="ui-g-12">
      <app-button 
        [label]="(lang | async).save"
        [icon]="'pi pi-sign-in'"
        [disabled]="processing | async" 
        [working]="processing | async" 
        (onClick)="actionCreate()"
      ></app-button>
    </div>
  </div>
</form>
