.layout-wrapper.layout-topbar-bluegrey .layout-topbar {
  background-color: black;
}

.layout-wrapper .layout-topbar .layout-topbar-icons .menu-icons a.layout-topbar-icon-yellow {
  background-color: transparent;
  color: aliceblue;
}

.layout-wrapper .layout-topbar .layout-topbar-icons .menu-icons a { 
  display: inherit;
  padding: 0 5px;
  width: auto;
  .icon-text {
    padding-right: 5px
  }
}

.layout-wrapper .layout-topbar .layout-topbar-icons .menu-icons a.layout-topbar-icon-yellow:hover,
.layout-wrapper.layout-topbar-bluegrey .layout-topbar .layout-menu-button:hover{
  background-color: transparent;
  color: unset;
}

.layout-wrapper .layout-topbar .layout-menu-button {
  border-radius: 0;
}

.layout-wrapper .layout-topbar .menu-items-right {
  float: right;
  .layout-menu-button {
    margin-left: 0;
    width: auto;
    padding-right: 15px
  }
}

@media screen and (max-width: 40em) {
  .layout-wrapper .layout-topbar {
    height: 90px;
  }
}

@media screen and (max-width: 560px) {
  .layout-wrapper .layout-main {
    padding-top: 90px;
  }
}
