<div class="ui-g ui-g-fluid">
    <form [formGroup]="rulesForm" class="ui-g-12">
      <div class="ui-inputgroup input_div" *ngFor="let rule of rulesForm.get('houseRules')['controls']; let i=index"
          [formGroup]="rule">
              <input type="text" pInputText formControlName="rule">   
              <button pButton 
                type="button" icon="pi pi-minus" class="ui-button-danger"
                [disabled]="rulesForm.get('houseRules').controls.length < 2 || processing ? 'disabled' : null "
                (click)="rulesForm.get('houseRules').removeAt(i)"
              ></button>  
      </div>
    </form>
    
    <div class="ui-g-8">
      <app-button 
        [label]="(label | async).add"
        icon="pi pi-plus"
        [disabled]="processing" 
        (onClick)="addEmptyItem()"
      ></app-button>
    </div>
    <div class="ui-g-4">
      <app-button 
        [label]="(label | async).save"
        icon="pi pi-save"
        [disabled]="!rulesForm.valid || processing" 
        [working]="processing" 
        (onClick)="addHouseRules()"
      ></app-button>
    </div>
</div>

