

h3 {
    margin: 0 0 5px 0;
    font-weight: lighter;
}

.retward-type-container {
  flex-direction: column; 
  padding: 0 20px;
  margin-top: -20px;
  margin-bottom: 30px;
  h3 {
    font-size: 14px;
  }
}

.inner-slider {
  margin-top: -25px;
  margin-bottom: 25px;
}