<div class="ui-g ui-g-nopad">
  <div class="ui-g-12  ui-g-nopad">
    <div class="ui-g-6">
        <h2>Modules to use</h2>
    </div>
    <div class="ui-g-6" style="text-align: right">
      <app-button 
        label="Update password"
        (onClick)="openResetPass()"
      ></app-button>
    </div>

    <div class="ui-g-12">
<div class="flex space-between mb-2">
      <p>{{label.dChores}} <span class="help-tooltip" 
        #dailyChorestooltip="matTooltip"
        [matTooltip]="label.dChoresInfo"
        matTooltipPosition="above"
        (click)="dailyChorestooltip.toggle()"
      >  ?</span></p>
      <p-inputSwitch [(ngModel)]="dailyChores['used']"></p-inputSwitch> 
    </div>

    <ng-container *ngIf="dailyChores['used']">
        <app-select-reward-type
          [label]="label"
          [parentObj]="dailyChores"
          (useMoney)="dailyChores['useMoney'] = $event"
          (useGameTime)="dailyChores['useGameTime'] = $event"
          (rewardminutes)="dailyChores['rewardMinute'] = $event"
          (rewardAmount)="dailyChores['rewardAmount'] = $event"
        ></app-select-reward-type>
    </ng-container>


    <div class="flex space-between mb-2">
      <p>{{label.exChores}} <span 
        class="help-tooltip"
        [matTooltip]="label.exChoresInfo" 
        #bonusChorestooltip="matTooltip"
        (click)="bonusChorestooltip.toggle()"
      >  ?</span></p>
      <p-inputSwitch [(ngModel)]="bonusChores['used']"></p-inputSwitch> 
    </div>

    <div class="flex space-between mb-2">
        <p>{{label.study}} <span 
          class="help-tooltip"
          [matTooltip]="label.studyInfo" 
          #studytooltip="matTooltip"
          (click)="studytooltip.toggle()"
        >  ?</span></p>
        <p-inputSwitch [(ngModel)]="study['used']"></p-inputSwitch> 
    </div>

    <!-- <ng-container *ngIf="study['used']">
        <app-select-reward-type
          [label]="label"
          [parentObj]="study"
          (useMoney)="study['useMoney'] = $event"
          (useGameTime)="study['useGameTime'] = $event"
          (rewardminutes)="study['rewardMinute'] = $event"
          (rewardAmount)="study['rewardAmount'] = $event"
        ></app-select-reward-type>
      </ng-container> -->
  
    
    <div class="align-right">
      <app-button 
        [label]="label.save"
        icon="pi pi-save"
        [disabled]="processing | async" 
        [working]="processing | async" 
        (onClick)="actionUpdate()"
      ></app-button>
    </div>
    </div>
    
  </div>
</div>

