<div class="layout-wrapper" [ngClass]="{'layout-horizontal': menuMode === 'horizontal',
    'layout-overlay': menuMode === 'overlay',
    'layout-static': menuMode === 'static',
    'layout-slim': menuMode === 'slim',
    'layout-menu-light': lightMenu === true,
    'layout-menu-dark': lightMenu === false,
    'layout-overlay-active': overlayMenuActive,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-static-inactive': staticMenuDesktopInactive}" [class]="topbarColor" (click)="onLayoutClick()">
    <app-topbar></app-topbar>

    <app-menu [reset]="resetMenu"></app-menu>

    <div class="layout-main pt-3">
        <div class="layout-content">
            <p-toast></p-toast>
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- <div class="layout-footer">
        <app-footer></app-footer>
    </div> -->
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

