.emptystate {
  cursor: default;
  padding-top: 6%;
  padding-bottom: 6%;
  opacity: 0.8;
  img {
      width: 95px;
  }

  h2 {
      margin-top: 0px;
  }

  &:hover {
      opacity: 1;
      -webkit-transition: opacity 1s ease-out;
      -moz-transition: opacity 1s ease-out;
      -o-transition: opacity 1s ease-out;
      transition: opacity 1s ease-out;  

  }
}