<div class="ui-g emptystate">

    <div class="ui-sm-6 ui-g-12 align-center">
      <img [src]="'assets/empty.jpg'" />
    </div>

    <div class="ui-sm-6 ui-g-12 align-center">
      <h2>
        {{msgHead}}
      </h2>
      <p> {{msgBody}} </p>
    </div>

</div>
