<div *ngIf="!loading">
    <div class="flex space-between detail-holder">
        <p><b>login details:</b></p>
        <p>username: {{kid['username']}}@{{data['familyName']}}</p>
        <p>password: {{kid['pass']}}</p>
    </div>
    
    <app-empty-state 
      [msgHead]="(label | async).empty"
      start="true"
      position="kidCard"
      *ngIf="kid['dailyChores'].length === 0 && mySubjects === null"
    ></app-empty-state>
    
    <div class="ui-g mt-4" *ngIf="data['dailyChores']['used'] && kid['dailyChores'].length > 0">
      <div class="ui-g-12"><p><b>Chores</b></p></div>
      <p-table 
        [columns]="choresCols" 
        [value]="myChores"
        dataKey="id"
        [rowTrackBy]="choreTrackByFn"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
              <th style="width: 3em"></th>
              <th *ngFor="let col of columns">{{col.header}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
          <tr>
              <td>
                  <a [pRowToggler]="rowData">
                      <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  </a>
              </td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
                <td [attr.colspan]="columns.length + 1">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12">
                            <p-card [style]="{width: '100%'}">
                                <app-daily-chores
                                  [data]="data"
                                  [userName]="kid['username']"
                                  [label]="label | async"
                                  [chore]="rowData"
                                ></app-daily-chores>
                            </p-card>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
    
    <div class="ui-g mt-4"  *ngIf="data['study']['used'] && mySubjects !== null" [style.display]="mySubjects ? 'block' : 'none'">
      <div class="ui-g-12"><p><b>Study</b></p></div>
      <p-table 
        [columns]="subjectsCols" 
        [value]="mySubjects"
        [responsive]="false"
        [rowTrackBy]="subjectTrackByFn"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
              <th rowspan="3">Subject</th>
              <th colspan="2">Numbers</th>
              <th rowspan="3">No. of quest.</th>
              <th rowspan="3">Reward <i class="fa fa-gamepad"></i></th>
          </tr>
          <tr>
              <th>Min</th>
              <th>Max</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    
    
    <div *ngIf="data['study']['used']" class="ui-g mt-4">
        <p-accordion>
          <p-accordionTab header="Add/Update Study">
              <div class="ui-g">
                  <div class="ui-g-12">
                    <p><b>Update / Edit</b></p>
                  </div>
                  <div class="ui-g-6 ui-md-4 ui-lg-2">
                    <label>Numbers: Min</label>
                    <div class="ui-inputgroup">
                        <input pKeyFilter="pint" type="text" [(ngModel)]="testInfo['min']" pInputText> 
                        <span class="ui-inputgroup-addon"><i class="fa fa-brain"></i></span>        
                    </div>
                  </div>
                  <div class="ui-g-6 ui-md-4 ui-lg-2">
                    <label>Numbers: Max</label>
                    <div class="ui-inputgroup">
                        <input pKeyFilter="pint" type="text" [(ngModel)]="testInfo['max']" pInputText> 
                        <span class="ui-inputgroup-addon"><i class="fa fa-brain"></i></span>        
                    </div>
                  </div>
                  <div class="ui-g-6 ui-md-4 ui-lg-2">
                    <label>No. of Quest.</label>
                    <div class="ui-inputgroup">
                        <input pKeyFilter="pint" type="text" [(ngModel)]="testInfo['amount']" pInputText> 
                        <span class="ui-inputgroup-addon"><i class="fa fa-sort-amount-up"></i></span>        
                    </div>
                  </div>
                  <div class="ui-g-6 ui-md-4 ui-lg-2">
                      <label>Game time</label>
                      <div class="ui-inputgroup">
                          <input pKeyFilter="pint" type="text" [(ngModel)]="testInfo['minutes']" pInputText> 
                          <span class="ui-inputgroup-addon"><i class="fa fa-gamepad"></i></span>        
                      </div>
                  </div>
                  <div class="ui-g-6 ui-md-4 ui-lg-2">
                      <label>Subject</label>
                      <div>
                        <p-dropdown 
                          [options]="subjects | async" 
                          [(ngModel)]="selectedSubject"
                          [style]="{width: '100%'}"
                        ></p-dropdown>
                      </div>
                  </div>
                  <div class="ui-g-6 ui-md-4 ui-lg-2">
                    <label><span style="visibility: hidden;">Submit</span></label>
                    <div>
                      <button pButton type="button" class="btn-block" 
                        [icon]="(updatingUser | async) ? 'pi pi-spin pi-spinner' : 'pi pi-save'" 
                        [disabled]="updatingUser | async" label="Save" 
                        (click)="updateChildStudy()" 
                      ></button>
                    </div>
                  </div>
                </div>
          </p-accordionTab>
        </p-accordion>
    </div>
</div>