<h3 *ngIf="loading | async">wait am loading....</h3>
<div  class="ui-g" *ngIf="!(loading | async)">
  <div class="ui-g-12 flex space-between  pb3">  
    <div>
      <h3>{{(lang | async).greeting}} {{me.name}}</h3>
    </div>
  </div>

  <div class="ui-g-12 ui-lg-6">
    <app-message-board></app-message-board>
  </div> 

  <div class="ui-g-12 ui-lg-6">

    <mat-accordion class="example-headers-align">
        <mat-expansion-panel expanded (opened)="houseRulePanel = true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <p class="text-success" [innerHtml]="(lang | async).ruleHeader"></p>
            </mat-panel-title>
            <mat-panel-description>
                <p class="text-success"></p>
                <mat-icon>home</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <app-rules [rules]="data['houserules']"></app-rules>
  
        </mat-expansion-panel>
      
        <mat-expansion-panel  (closed)="dailyChorePanel = false" (opened)="dailyChorePanel = true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <p class="text-warning" [innerHtml]="(lang | async).dChores"></p>
            </mat-panel-title>
            <mat-panel-description>
                <p class="text-warning"></p>
                <mat-icon>done_all</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          
            <app-child-chores 
              *ngIf="dailyChorePanel" 
              [events]="events" 
              (setReward)='addEvent($event)'
            ></app-child-chores>
  
        </mat-expansion-panel>
      
<!--         <mat-expansion-panel (closed)="myPointsPanel = false" (opened)="myPointsPanel = true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <p class="text-danger">My points</p>
            </mat-panel-title>
            <mat-panel-description>
                <p class="text-danger"></p>
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
            <app-child-calender 
              *ngIf="myPointsPanel"  
              [events]="events"
            ></app-child-calender>
        </mat-expansion-panel> -->
    </mat-accordion>
  </div>
</div>