<div class="ui-g ui-g-nopad">

  <ng-container *ngFor="let chore of data">
    <p-card class="ui-g-12">
      <p>{{chore['todo']}}</p>
      <hr>
      <div style="margin-top: 4pt; text-align: right">
          <span *ngIf="+chore['rewardAmount'] > 0" class="icon-text" style="margin-right: 30px"> <i class="fa fa-coins fa-lg" style="margin-right: 5px"></i> {{chore['rewardAmount']}}</span>
          <span *ngIf="+chore['rewardMinute'] > 0" class="icon-text" style="margin-right: 30px"> <i class="fa fa-gamepad fa-lg" style="margin-right: 5px"></i> {{chore['rewardMinute']}}</span>
          <p-inputSwitch [ngModel]="!chore['done']" (onChange)="updateChoreState(chore['id'], $event.checked)"></p-inputSwitch> 
          <span class="icon-text" (click)="deleteChore(chore['id'])" style="margin-left: 30px; cursor: pointer;"> <i class="fa fa-trash" style="color: red"></i></span>
      </div>
    </p-card>
  </ng-container>

  <div class="ui-g-8">
    <app-input-form
      [label]="label['todo']"
      [(ngModel)]="todo" 
    ></app-input-form>
  </div>
  <div class="ui-g-2">
    <app-input-form
      [label]="label['money']"
      keyFilter="pint"
      registerMode="true"
      [(ngModel)]="rewardAmount" 
    ></app-input-form>      
  </div>
  <div class="ui-g-2">
      <app-input-form
        [label]="label['gameTime']"
        keyFilter="pint"
        registerMode="true"
        [(ngModel)]="rewardMinute" 
      ></app-input-form>      
    </div>
  <div class="ui-g-12">
    <app-button 
      [label]="label['save']"
      [icon]="'pi pi-sign-in'"
      [disabled]="todo.length < 6 || (processing | async)"
      [working]="processing | async" 
      (onClick)="actionCreate()"
    ></app-button>
  </div>
</div>
