<div class="layout-topbar">
  <a class="layout-topbar-logo">
      <img id="topbar-logo" src="assets/layout/images/logo-olympia-white.png">
  </a>

  <a class="layout-menu-button" (click)="app.onMenuButtonClick($event)">
      <i class="fa fa-bars fa-lg"></i>
  </a>

  <div class="menu-items-right">
    <a class="layout-menu-button" (click)="app.onTopbarLangButtonClick($event)">
        <i class="fa fa-flag"></i>
    </a>

    <ng-container *ngIf="isLoggedIn && (showReward || showGameTime)">
      <a *ngIf="+(showReward | async).value > 0" class="layout-menu-button">
          <span class="icon-text" style="margin-right: 5px">{{(showReward | async).value}}</span> <i class="fa fa-coins fa-lg"></i>
      </a>
      <a *ngIf="+(showGameTime | async).value > 0" class="layout-menu-button">
        <span class="icon-text" style="margin-right: 5px">{{(showGameTime | async).value}}</span> <i class="fa fa-gamepad fa-lg"></i>
      </a>
    </ng-container>

    <a *ngIf="isLoggedIn" class="layout-menu-button" (click)="authService.logout()">
        <i class="fa fa-fw fa-sign-out-alt fa-lg"></i>
      </a>
    <a *ngIf="!isLoggedIn" class="layout-menu-button" routerLink='/auth/login' >
      <i class="fa fa-fw fa-sign-in-alt fa-lg"></i>
    </a>
  </div>

  <!-- settings opened  -->
  <ul  class="layout-topbar-usermenu" [ngClass]="{'layout-topbar-usermenu-active fadeInDown': app.topbarMenuActive}">
      <li>
          <a (click)="authService.logout()">
              <i class="fa fa-sign-out-alt fa-lg"></i>
              <span class="topbar-item-name">Logout</span>
          </a>
      </li>
  </ul>

  <!-- Language  -->
  <ul  class="layout-topbar-usermenu" [ngClass]="{'layout-topbar-usermenu-active fadeInDown': app.topbarLangActive}">
      <li>
          <a (click)="lang.changeLang('swedish')">
              <span class="topbar-item-name">Svensk</span>
          </a>
      </li>
      <li>
          <a (click)="lang.changeLang('english')">
              <span class="topbar-item-name">English</span>
          </a>
      </li>
  </ul>

</div>
