<div class="form-signin">

  <div>
      <p style="margin: 0 0 5px 0">{{(lang | async).loginAs}}</p>
      <p-selectButton [options]="formTypes | async" [(ngModel)]="selectedType" (onChange)="formTypeChange($event.value)"></p-selectButton>
  </div>
   

    <p-fieldset [legend]="(lang | async).child" *ngIf="(formDisplayed | async).childPanelOpenState">
        <app-child-login></app-child-login>
    </p-fieldset>
    
    <p-fieldset [legend]="(lang | async).parent" *ngIf="(formDisplayed | async).parentPanelOpenState">
        <app-parent-login></app-parent-login>
    </p-fieldset>
    
</div>
  