
@mixin timmer-fab {
  position: fixed; 
  background-color: #311b92; 
  z-index: 1000; 
  width: auto;
  color: #ffffff;
  border-radius: 20px;
  padding: 20px
}

.fab-bottom {
  @include timmer-fab;
    & {
      bottom: 10px; 
      right: 10px; 
    }
}

.fab-top {
  @include timmer-fab;
    & {
      top: 90px; 
      right: 40%;
      color: crimson;
      background-color: black;
    }
}



.child-1 {
    flex-grow: 8
}
.child-1 {
    flex-grow: 4
}

.form-row .form-label-group > label {
    left: auto
}

.form-row .form-group > label {
    margin-bottom: 0.1rem; 
}

::ng-deep .ui-progressbar {
  height: 1px !important
}

.error-msg {
  font-size: 57%;
  color: red;
}

.question-container {
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 40em) {
  .question-container {
      width: 96%;
  }
     
}


/* 

.grid-container {
  display: grid;
  width: 150px;
  grid-template-columns: auto auto auto;
  grid-gap: 2px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


.item1 { grid-area: 1 / 1 / 2 / 2; }
.item2 { grid-area: 1 / 2 / 2 / 3; }
.item3 { grid-area: 1 / 3 / 2 / 4; }

.item4 { grid-area: 2 / 1 / 3 / 2; }
.item5 { grid-area: 2 / 2 / 3 / 3; }
.item6 { grid-area: 2 / 3 / 3 / 4; }

.item7 {
  grid-column: 1 / 4;
  margin: 0;
  border-top: solid red 1px;
}

.item8 { grid-area: 4 / 1 / 4 / 2; }
.item9 { grid-area: 4 / 2 / 4 / 3; }
.item10 { grid-area: 4 / 3 / 4 / 4; }

*/