<div class='ui-g mb-5' style="position: relative">
  <div class="ui-g-6">
    <p-card header="Game Time" subheader="Time Gained: {{gameTime}} min"  styleClass="ui-card-shadow">
        <p-footer>
          <app-button
            [label]="'Use Time'"
            [icon]="'pi pi-check'"
            (click)="useTimeDialog=true"
            [disabled]="gameTime < 5"
          ></app-button>
          <app-button  *ngIf="(testTimeLeft | async)?.full  === 0 && (waitTimeLeft | async)?.full === 0 " [label]="'Timed Test'" (onClick)="displayTestmodal = true" ></app-button>
          <div *ngIf="(waitTimeLeft | async)?.full > 0" class="fab-top">
            <p><strong>You can retake test after {{(waitTimeLeft | async).min}} : {{(waitTimeLeft | async).sec}}</strong></p>
            </div>
        </p-footer>
    </p-card>
  </div>

  <div class="ui-g-6">
      <ng-container *ngFor="let subject of (subjects | async); let i=index">
          <div class="col mb-3">
            <app-button
              [label]="subject['name']"
              [disabled]="(disabled | async) != subject['link']"
            ></app-button>
          </div>
          <div class="w-100" *ngIf="(i+1) % 2 == 0"></div>
      </ng-container>
  </div>

  <div *ngIf="(testTimeLeft | async)?.full  > 0" class="fab-bottom">
    <strong>{{(testTimeLeft | async).min}} : {{(testTimeLeft | async).sec}}</strong>
  </div>


  <div class="ui-g question-container" *ngIf="!(animating | async)">

    <app-button
      class="ui-g-12"
      style="margin-bottom: 20px"
      [label]="'Submit test'"
      [icon]="'pi pi-check'"
      (click)="correctTest()"
    ></app-button>

    <ng-container *ngFor="let question of (testQuestions | async); let i=index">
        <div class="ui-g-1 mb-3"></div>
        <div class="ui-g-2 mb-3">{{question['x']}}</div>
        <div class="ui-g-2 mb-3">{{question['sign'] === '*' ? 'x' : question['sign']}}</div>
        <div class="ui-g-2 mb-3">{{question['y']}}</div>
        <div class="ui-g-2 mb-3">=</div>
        <div class="ui-g-2 mb-3">
          <app-input-form
            [(ngModel)]="question['answer']"
            [hasError]="question['wrong']"
            [floatLabel]="false"
          ></app-input-form>
        </div>
        <div class="ui-g-1 mb-3"></div>
    </ng-container>

    <app-button
      class="ui-g-12"
      [label]="'Submit test'"
      [icon]="'pi pi-check'"
      (click)="correctTest()"
    ></app-button>
  </div>

</div>

<p-dialog header="Use Time" [closable]="false" [visible]="useTimeDialog" [modal]="true" [responsive]="true" [baseZIndex]="10000">

  <span>
    TIPS: <br>
    Start a timmer after your give your kid game time to help keep time. <br>
    Set timmer to {{timeToUse}} mins.
  </span>

  <app-slider-form [max]="gameTime" [valueType]="'Mins'" [label]="'Time to deduct'" [(ngModel)]="timeToUse"></app-slider-form>

  <app-input-form [type]="'password'" [(ngModel)]="parentPassword" [label]="'Parent Password'"></app-input-form>

  <span class="error-msg" *ngIf="passwordMsg | async">
    {{passwordMsg | async}}
  </span>

  <p-progressBar mode="indeterminate" *ngIf="loadingTime | async"></p-progressBar>

  <p-footer>
    <app-button
      [label]="'Give Time'"
      (click)="grantGameTime()"
      [icon]="'pi pi-check'"
      [disabled]="loadingTime | async"
    ></app-button>
    <app-button
      [label]="'Cancel'"
      (click)="closeDialog()"
      [icon]="'pi pi-close'"
      [disabled]="loadingTime | async"
    ></app-button>
  </p-footer>

</p-dialog>

<p-dialog header="Timed Test" [(visible)]="displayTestmodal" [modal]="true" [style]="{width: '350px', minWidth: '200px'}">

        <app-slider-form [valueType]="'Mins'" [max]="60" [label]="'Time test in SECONDS'" [(ngModel)]="testTime"></app-slider-form>

        <app-input-form [min]="6" [type]="'password'" [(ngModel)]="parentPassword" [label]="'Parent Password'"></app-input-form>
        <p-footer>
            <app-button [disabled]="parentPassword.length < 6" [label]="'Start Test'" (onClick)="checkPassword()" ></app-button>
            <app-button [icon]="'pi pi-close'" [label]="'Cancel'" (onClick)="displayTestmodal=false" ></app-button>
        </p-footer>
</p-dialog>


<!-- <div class="grid-container">
  <div class="item1">1</div>
  <div class="item2">2</div>
  <div class="item3">3</div>
  
  <div class="item4">+</div>
  
  <div class="item5">5</div>
  <div class="item6">6</div>
  
  <p class="item7"></p>
  
  <div class="item8">0</div>
  
  <div class="item9">0</div>
  <div class="item10">0</div>
</div> -->