
<form [formGroup]="form" class="container form-signin">
    <app-input-form
      [type]="'email'"
      formControlName="email" 
    ></app-input-form>

    <app-input-form
      [min]=6
      [type]="'password'"
      [label]="(lang | async).password"
      formControlName="password" 
    ></app-input-form>

    <app-button 
      [label]="(lang | async).login"
      [icon]="'pi pi-sign-in'"
      [disabled]="processing | async" 
      [working]="processing | async" 
      (onClick)="loginUser()"
    ></app-button>

  </form>
  
  