<div [ngClass]="{ 'app-float-input': floatLabel }">
  <span class="ui-float-label"  style="position:relative">
    <input
      pInputText
      *ngIf="!registerMode" 
 
      [pTooltip]="control.hint || hint" 
      tooltipPosition="bottom" 
      tooltipEvent="focus"
      [type]="type"
      [disabled]="disabled"
      (blur)="onTouched()"
      [(ngModel)]="value"
      (change)="onChange($event.target.value)" 
      (keyup)="onChange($event.target.value)" 
      [ngClass]="{ 'ng-dirty ng-invalid': control.touched && control.invalid || hasError }"
    > 

    <input 
      pPassword
      *ngIf="registerMode && !mask && !keyFilter" 
      [pTooltip]="control.hint || hint" 
      tooltipPosition="bottom" 
      tooltipEvent="focus"
      [type]="type" 
      autocomplete="off"
      [disabled]="disabled"
      (blur)="onTouched()"
      [(ngModel)]="value"
      (change)="onChange($event.target.value)" 
      (keyup)="onChange($event.target.value)" 
      [ngClass]="{ 'ng-dirty ng-invalid': control.touched && control.invalid || hasError }"
    > 

    <p-inputMask 
      *ngIf="mask && registerMode" 
      [mask]="mask"
      [disabled]="disabled"
      (blur)="onTouched()"
      [(ngModel)]="value"
      (change)="onChange($event.target.value)" 
      (keyup)="onChange($event.target.value)" 
      [ngClass]="{ 'ng-dirty ng-invalid': control.touched && control.invalid || hasError }"
    ></p-inputMask>

    <input 
      *ngIf="keyFilter && registerMode" 
      [type]="type"
      pInputText
      [pKeyFilter]="keyFilter"
      [disabled]="disabled"
      (blur)="onTouched()"
      [(ngModel)]="value"
      (change)="onChange($event.target.value)" 
      (keyup)="onChange($event.target.value)" 
      [ngClass]="{ 'ng-dirty ng-invalid': control.touched && control.invalid || hasError }"
    >

    <label for="float-input" [innerHtml]="control.label || label"></label>
  </span>

  <ng-container *ngIf="control.touched && control.invalid">
    <p-message *ngIf="control.errors.required" severity="error" text="{{ (lang | async).required }}"></p-message>
    <p-message *ngIf="control.errors.email" severity="error" text="sample@provider.com"></p-message>
    <p-message *ngIf="control.errors.alphanumeric" severity="error" text="{{ (lang | async).aphaNum }}"></p-message>
    <p-message *ngIf="control.errors.mustMatch" severity="error" text="{{ (lang | async).passCheck }}"></p-message>
    <p-message *ngIf="control.errors.pattern" severity="error" text="{{ (lang | async).allowedPattern }} {{pattern}}"></p-message>
    <p-message *ngIf="control.errors.minlength" severity="error" text="{{ (lang | async).minimum }} {{min}}"></p-message>
    <p-message *ngIf="control.errors.maxlength" severity="error" text="{{ (lang | async).maximum }} {{max}}"></p-message>
  </ng-container>
</div>
