
<div class="app-float-input">
  <span class="ui-float-label">
    <input 
      pInputText
      disabled
      type="text"  
      [ngModel]="valuePlusHolder"
    />
    <label for="float-input" [innerHtml]="control.label || label"></label>
  </span>
</div>
<p-slider 
  [min]="min" 
  [max]="max" 
  
  tooltipEvent="focus"
  tooltipPosition="bottom" 
  [pTooltip]="control.hint || null" 
  
  [(ngModel)]="value"
  (onSlideEnd)="onTouched()"
  (onChange)="pushChanges($event.value)" 
  
  [disabled]="disabled"
  [style]="{'width':'100%'}"
></p-slider>
