<div>
    <div class="" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Setting up your image</h5>
        </div>
        <div class="modal-body spinner">
          <mat-progress-bar mode="indeterminate" color="Primary"></mat-progress-bar>
        </div>
        <div class="modal-footer">
            <p>Please wait</p>
        </div>
      </div>
    </div>
  </div>
