<h1 mat-dialog-title>{{data.header}}</h1>
<div mat-dialog-content>
  <p>{{data.message}}</p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="false">{{data.cancel}}</button>
  <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial>{{data.proceed}}</button>
</div>
