<div *ngIf="(todo | async).chores" class="col-12">

  <h3>{{(todo | async).choreName}}</h3>

    <div class="mb-3">
        <p-progressBar *ngIf="(todo | async).checked" [value]="100"></p-progressBar>
        <p-progressBar *ngIf="!(todo | async).checked" [value]="roundVal"></p-progressBar>
    </div>

    <div *ngFor="let chore of (todo | async).chores" class="flex space-between mb-1">
        <label class="custom-control-label">{{chore}}</label>
        <p-checkbox *ngIf="!(todo | async).checked" binary="true" (onChange)="choreChecked($event)"></p-checkbox>
        <p-checkbox *ngIf="(todo | async).checked" binary="true" [ngModel]="true" [disabled]="true"></p-checkbox>
    </div>

    <div class="col-12 mt-3" *ngIf="value > 98 && !(choreDone | async)">
        <app-slider-form 
          *ngIf="+useDailyChores['rewardMinute'] > 0"
          [max]="useDailyChores['rewardMinute']"  
          [label]="(lang | async).gameTime" 
          [valueType]="'Mins'" [(ngModel)]="amount"
        ></app-slider-form>
        <app-input-form
          [min]=6
          [label]="(lang | async).password"
          [type]="'password'"
          [(ngModel)]="password" 
        ></app-input-form>
        <app-button 
          [label]="(lang | async).save"
          icon="pi pi-save"
          [disabled]="password.length < 4 || (processing | async)"
          [working]="processing | async" 
          (onClick)="triggerSetReward()"
        ></app-button>
    </div> 
</div>

