<div>
  <h3 *ngIf="loading">{{(lang | async).loadingText}}</h3>

  <div *ngIf="!loading">
    <div class="flex space-between header-btn">
      <app-button 
        [label]="(lang | async).btnModule"
        [icon]="'fa fa-cog'"
        (onClick)="openSettingsDialog()"
      ></app-button>
      <app-button 
        [label]="(lang | async).addChild"
        [icon]="'fa fa-plus'"
        (onClick)="showAddChildDialog()"
      ></app-button>
    </div>

    <div class="flex space-between mb-2 header-btn">
      <app-button 
        *ngIf="usedModules['dailyChores']"
        [label]="(lang | async).dChores"
        [icon]="'fa fa-plus'"
        (onClick)="showAddDayChoresDialog()"
      ></app-button>
      <app-button 
        *ngIf="usedModules['bonusChores']"
        [label]="(lang | async).exChores"
        [icon]="'fa fa-plus'"
        (onClick)="showAddExChoresDialog()"
      ></app-button>
    </div>

    <app-empty-state 
      [msgHead]="(lang | async).empty"
      [msgBody]="(lang | async).addChild"
      position="topRight"
      *ngIf="data['kids'].length === 0"
    ></app-empty-state>
    
    <div *ngIf="data['kids'].length > 0" class="mb-4">
        <p-fieldset [legend]="(lang | async).ruleHeader" [toggleable]="true">
          <app-add-rules 
            [label]="lang"
            (rulesSet)="editRules = $event" 
            [rules]="data['houserules']"
          ></app-add-rules>
        </p-fieldset>
    </div>

    <ng-container *ngIf="data['kids'].length > 0">
      <div *ngFor="let kid of data['kids']" class="mb-4">
          <p-fieldset [legend]="kid['name']" [toggleable]="true" [collapsed]="true">
              <app-kid-card 
                [userName]="kid['username']"
                [label]="lang"
              ></app-kid-card>
          </p-fieldset>
      </div>
    </ng-container>

  </div>
</div>

