/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/*  Locals imports */
@import "./styles/index.scss";

// New 
  .layout-wrapper {
    display: flex !important;
    height: 100vh !important;
    flex-direction: column !important;
  }
  .layout-main {
    flex-grow: 1 !important;
    overflow: auto !important;
  }

// End New

  .pointer {
    cursor: pointer;
  }
  .card {
    /* position: relative; */
    cursor: pointer;
    border-radius: 5px;
    margin-top: 25px!important;
  }
  .card-body {
    padding: 0.6em;
    color: #333;
  }
  .card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  /* Extra small devices (portrait phones, less than 576px) */ 
  @media (min-width: 0) {
    .card-deck {
			justify-content: center;
	}
    .card-deck .card {
      flex: 0 0 calc(100% - 1em);
    }
  }

  .responsive-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  /* Small devices (landscape phones, 576px and up) */ 
  @media (min-width: 576px) {
    .card-deck .card {
      flex: 0 0 calc(50% - 30px);
    }
  }

  /* Medium devices (tablets, 768px and up) */ 
  @media (min-width: 768px) {
    .card-deck .card { flex: 0 0 calc(33.33333% - 30px) }
    .responsive-container{ max-width: 80vw }
  }

  /* Large devices (desktops, 992px and up) */ 
  @media (min-width: 992px) {
    .card-deck .card { flex: 0 0 calc(25% - 30px) }
    .responsive-container{ max-width: 60vw }
  }

  /* Extra large devices (large desktops, 1200px and up) */ 
  @media (min-width: 1200px) {
    .card-deck .card { flex: 0 0 calc(20% - 30px) }
    .responsive-container{ max-width: 50vw }
  }


  .maxW-minW-29 {
    max-width: 290px !important;
    min-width: 290px !important;
  }

  .alert {
    width: 100%
  }

  .btn.disabled, .btn:disabled:hover {
    cursor: not-allowed
  }
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* snackbar */
.snack-fail {
  background: red;
}

.snack-success {
  background: #2196F3;
}

.snack-warn {
  background-color: #ff8f00;
}

.footer {
  display: block !important;
  font-size: 80% !important;
}
 

/* Input */
input.danger {
  border-color: red !important;
}
input.success {
  border-color: green !important;
}

/* Parent dashboard */
.parent-dash {
  font-weight: 400 !important;
}

/* Button */
button.btn-block {
  width: 100%;
}

// simple
.mt-4 {
  margin-top: 40px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mt-1 {
  margin-top: 10px;
}
.pt-3 {
  padding-top: 30px
}

// tooltip
.help-tooltip {
  font-size: 14px!important;
  font-weight: 400;
  font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  background: #055081;
  color: #fff;
  border-radius: 50%;
  line-height: 18px;
  height: 18px;
  width: 18px;
  display: inline-block;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  cursor: pointer;
}
