<!-- <div class="row">
  <div class="col-12 col-md-6">
    <div *ngFor="let person of persons">
        <div class="col-md-12">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">{{person.country}}</strong>
                <h3 class="mb-0">
                  <p class="text-dark">{{person.name}}</p>
                </h3>
                <div class="mb-1 text-muted">{{person.position}}</div>
                <p class="card-text mb-auto">{{person.greeting}}</p>
                <a >{{person.contact}}</a>
              </div>
              <img class="card-img-right flex-auto d-none d-md-block w-200" [src]="person.image" alt="Card image cap">
            </div>
        </div>
    </div>
  </div>
  <div class="col-12 col-md-6 message-box">
    <img src="/assets/benfenlogo.svg" class="rounded mx-auto d-block w-200" alt="BenFen Logo">
      <div class="input-group col-md-12 mt-3 mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Message</span>
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
      </div>
      <div class="input-group col-md-12">
        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
  </div>
</div> -->